<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="KoneksiDatabase.My.MySettings.ConnectionString" connectionString="Dsn=xampp_test;uid=root" providerName="System.Data.Odbc"/>
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
</configuration>
